@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
}

.section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.section .scroll {
    position: absolute;
    top: 0;
    display: flex;
    /* 내 자식을 옆으로 정렬함 */
    left: 95px;
    transform: rotate(90deg);
    transform-origin: left top;
}

.section .scroll div {
    animation: animate1 40s linear infinite;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    font-size: 64px;
    white-space: nowrap;
    /* 글자를 아래로 떨어지게 하지않음 */
    font-weight: 800;
}

.section .scroll div:nth-child(2) {
    /* div중 둘째를 부르는 방법 */
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}